Pods
SwipeToWatch.xcworkspace/contents.xcworkspacedata
SwipeToWatch.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
SwipeToWatch.xcworkspace/xcuserdata/bagas.xcuserdatad/WorkspaceSettings.xcsettings
SwipeToWatch.xcworkspace/xcuserdata/bagas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
